<!doctype html>
<html class="no-js" lang="en">

<head>


  <meta name="description" content="The best photographers in Thrissur" property="description">
  <meta>
  <meta name="keywords" content="The best photographers in Thrissur, The best photographers in Kerala, The best photographers in India, The best wedding photographers, Product Shoot, Candid Photography "
    property="keywords">
  <meta>
  <meta name="canonical" content="http://www.redzmedia.in" property="canonical">
  <meta>
  <meta name="viewport" content="width=device-width, initial-scale=1" property="viewport">
  <meta>
  <meta name="og:title" content="RedZmedia Photography Thrissur" property="og:title">
  <meta>
  <meta name="og:description" content="There is one thing the photograph must contain, the humanity of the moment" property="og:description">
  <meta>
  <meta name="og:image" content="http://www.redzmedia.in/assets/images/demo/logo/logo-black.png" property="og:image">
  <meta>
  <link rel="icon" href="assets/images/demo/logo/logo-black.png" sizes="16x16 32x32" type="image/png">


  <title>RedZmedia | Best Photographers at Thrissur</title>
  <!-- Place favicon.ico in the root directory -->

  <!-- vendor css -->
  <link rel="stylesheet" href="assets/styles/vendor.css">
  <!-- slider revolution css -->
  <link rel="stylesheet" href="assets/styles/revolution.all.css">
  <!-- main css -->
  <link rel="stylesheet" href="assets/styles/main.css">

  <!-- Preload -->
  <script src="assets/js/pace.min.js"></script>
  <!-- Modernizr -->
  <script src="assets/js/modernizr.js"></script>
</head>

<body class="left-menu home-gallery" ng-app="myApp" ng-controller="main.controller">
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- preloader -->
  <div id="layer-loade">
    <p class="logo-intro">RedZmedia</p>
  </div>

  <!-- logo -->
  <header>
    <p class="logo"><a href="#" class="open-home">RedZmedia</a></p>
  </header>


  <!-- social links -->
  <ul class="social-links ontop">
    <li><a href="https://www.facebook.com/redzmediaa" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
  </ul>

  <!-- Static navbar -->
  <nav class="navbar">
    <!-- navbar-default -->
    <div class="">
      <!-- container-fluid -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <div class="close-nav"></div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#" class="open-home">Home</a></li>
          <!--
            <li><a href="#" class="open-layer" data-layer="page-about">About</a></li>
            <li><a href="#" class="open-layer" data-layer="page-albums">Albums</a></li>-->
          <li><a href="#" class="open-layer" data-layer="page-contact">Contact</a></li>

        </ul>
        <ul class="social-links">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

  <!-- filter gallery -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <ul id="filters">
            <li data-filter="*" class="is-checked"><span>All</span></li>
            <li data-filter=".wedding">Wedding</li>
            <li data-filter=".kids">Kids</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- gallery grid -->
  <div class="container-fluid">
    <div class="row">
      <div id="grid-gallery">
        <div class="grid-item wedding" data-src="assets/images/gallery/10.jpg">
          <img src="assets/images/gallery/10.jpg" alt="">
        </div>
        <div class="grid-item wedding" data-src="assets/images/gallery/8.jpg">
          <img src="assets/images/gallery/8.jpg" alt="">
        </div>
        <div class="grid-item wedding" data-src="assets/images/gallery/5.jpg">
          <img src="assets/images/gallery/5.jpg" alt="">
        </div>
        <div class="grid-item kids" data-src="assets/images/gallery/4.jpg">
          <img src="assets/images/gallery/4.jpg" alt="">
        </div>
        <div class="grid-item wedding" data-src="assets/images/gallery/6.jpg">
          <img src="assets/images/gallery/6.jpg" alt="">
        </div>
        <div class="grid-item kids" data-src="assets/images/gallery/3.jpg">
          <img src="assets/images/gallery/3.jpg" alt="">
        </div>
        <div class="grid-item kids" data-src="assets/images/gallery/2.jpg">
          <img src="assets/images/gallery/2.jpg" alt="">
        </div>
        <div class="grid-item wedding" data-src="assets/images/gallery/7.jpg">
          <img src="assets/images/gallery/7.jpg" alt="">
        </div>

        <div class="grid-item kids" data-src="assets/images/gallery/1.jpg">
          <img src="assets/images/gallery/1.jpg" alt="">
        </div>
        <div class="grid-item kids" data-src="assets/images/gallery/9.jpg">
          <img src="assets/images/gallery/9.jpg" alt="">
        </div>

      </div>
    </div>
  </div>

  <div class="layer-page page-contact">
    <span class="close-layer">close</span>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="content-section">
              <div>
                <h3>Contact RedZmedia</h3>
                <p class="subtitle">There is one thing the photograph must contain, the humanity of the moment</p>
                <ul class="address">
                  <li>Mobile.: +999 59 123 76</li>
                  <!--
                  <li>Address : 350 West Erie Street</li>
                  <li>Email : hello@tdhcreative.com</li>
                  -->
                </ul>
                <ul class="social-links">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>

                <form name="contactForm" class="contact-form">
                  <div class="form-group inline">
                    <label class="title small" for="name">Name</label>
                    <input type="text" required ng-model="name" placeholder="Name" name="name" id="name" class="text name required">
                  </div>

                  <div class="form-group inline">
                    <label class="title small" for="email">E-mail</label>
                    <input type="email" required ng-model="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="E-mail" name="email" id="email" class="text email required">
                  </div>

                  <div class="form-group">
                    <label class="title small" for="number">Mobile</label>
                    <input type="number" required ng-model="mobile" placeholder="Mobile Number" name="subject" id="subject" class="text subject required">
                  </div>

                  <div class="form-group">
                    <label class="title small" for="message">Type your message</label>
                    <textarea required ng-model="message"  placeholder="Type your message" name="message" id="message" class="text area required"></textarea>
                  </div>
                  <p class="contact-note">NOTE: Every fields are required!</p>
                  <button ng-click="sendMail()" ng-disabled="contactForm.$invalid || sendLoadinStatus" class="btn rounded submit-btn">{{sendBtn}}</button>
                  
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="content-section">
              <div>
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.page-contact -->

  <script src="node_modules/angular/angular.js" type="text/javascript"></script>
  <script src="main.controller.js" type="text/javascript"></script>
  <script src="main.service.js" type="text/javascript"></script>  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>

  <!-- RS5.3.0.2 Core JS Files -->
  <script src="assets/js/jquery.themepunch.tools.min.js?rev=5.0" type="text/javascript"></script>
  <script src="assets/js/jquery.themepunch.revolution.min.js?rev=5.0" type="text/javascript"></script>
  <!-- RS5.3.0.2 Extensions Files 
    <script src="js/revolution.extensions.all.js"></script>

    <!-- Vendor js -->
  <script src="assets/js/vendor.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6E0ZzRgRkOF4u_oJi9FJxtZo69lGiYXY&callback=initMap" async
    defer></script>
</body>

</html>