.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize;
}

.fabSpeedDialdemoBasicUsage .md-fab:hover,
.fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important;
}

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem;
}

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.fab-btn {
  float: right;
}

.main-option-btn {
  background-color: #FAFAFA !important;
}

.main-option-btn md-icon{
  color: rgb(33,33,33)  !important;
}