<h3 class="dialog-head">Add new Image! <span class="close-dialog" ng-click="hide()"><i class="material-icons">close</i></span></h3>
<form name="addImageForm">
    <md-input-container md-no-float class="md-block">
        <md-icon class="material-icons">image</md-icon>
        <input required class="form-control"  accept="image/*" type="file" file-model="myFile" />
    </md-input-container>
    <md-input-container>
        <label>Image Category</label>
        <md-select required ng-model="image_category">
            <md-option ng-repeat="category in categories" ng-value="{{category.category_id}}">{{category.category}}</md-option>
        </md-select>
    </md-input-container>
    <md-button ng-click="uploadFile()" ng-disabled="addImageForm.$invalid || submitBtnStatus" class="md-raised md-primary btn-add-user">{{submitBtnLabel}}</md-button>
    </md-content>
</form>